/* Yusuf J*/

.mynav{
    background-color: orange;
    width: 100%;
    
    
}


.menuitems{
    float: right;
    display: flex;
    
    
}

.b{
    padding: 8px 8px;
    border: none;
    margin-right: 22px;


}